-- MySQL dump 10.13  Distrib 8.0.45, for Win64 (x86_64)
--
-- Host: localhost    Database: trohub_db
-- ------------------------------------------------------
-- Server version	8.0.45

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `trohub_db`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `trohub_db` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `trohub_db`;

--
-- Table structure for table `bank_info`
--

DROP TABLE IF EXISTS `bank_info`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bank_info` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `account_number` varchar(255) DEFAULT NULL,
  `owner_name` varchar(255) DEFAULT NULL,
  `bank_name` varchar(255) DEFAULT NULL,
  `image_base64` tinytext,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  `image_url` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bank_info`
--

LOCK TABLES `bank_info` WRITE;
/*!40000 ALTER TABLE `bank_info` DISABLE KEYS */;
INSERT INTO `bank_info` VALUES (2,'123456780','ONG CHU 1','Vietcombank',NULL,'2026-04-21 21:42:34','2026-05-06 15:17:57',NULL);
/*!40000 ALTER TABLE `bank_info` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chi_so`
--

DROP TABLE IF EXISTS `chi_so`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chi_so` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `meter_type` varchar(32) NOT NULL,
  `meter_id` varchar(255) DEFAULT NULL,
  `tenant_id` bigint DEFAULT NULL,
  `reading_value` bigint NOT NULL,
  `recorded_at` date NOT NULL,
  `period_year` int NOT NULL,
  `period_month` int NOT NULL,
  `recorded_by` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_chi_so_meter_period` (`meter_id`,`period_year`,`period_month`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chi_so`
--

LOCK TABLES `chi_so` WRITE;
/*!40000 ALTER TABLE `chi_so` DISABLE KEYS */;
/*!40000 ALTER TABLE `chi_so` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chu_tro`
--

DROP TABLE IF EXISTS `chu_tro`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chu_tro` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) DEFAULT NULL,
  `dia_chi` varchar(255) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `sdt` varchar(255) DEFAULT NULL,
  `ten` varchar(255) NOT NULL,
  `updated_at` datetime(6) DEFAULT NULL,
  `tai_khoan_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_chu_tro_tai_khoan` (`tai_khoan_id`),
  CONSTRAINT `fk_chu_tro_tai_khoan` FOREIGN KEY (`tai_khoan_id`) REFERENCES `tai_khoan` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chu_tro`
--

LOCK TABLES `chu_tro` WRITE;
/*!40000 ALTER TABLE `chu_tro` DISABLE KEYS */;
INSERT INTO `chu_tro` VALUES (1,'2026-04-21 20:35:06.000000','Dia chi Ong Chu 1','ongchu1@example.com','0900000001','Ong Chu 1','2026-04-21 20:35:06.000000',1),(2,'2026-04-21 20:35:06.000000','Dia chi Ong Chu 2','ongchu2@example.com','0900000002','Ong Chu 2','2026-04-21 20:35:06.000000',2);
/*!40000 ALTER TABLE `chu_tro` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `don_gia`
--

DROP TABLE IF EXISTS `don_gia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `don_gia` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `meter_type` varchar(32) NOT NULL,
  `effective_from` date NOT NULL,
  `effective_to` date DEFAULT NULL,
  `price_per_unit` decimal(38,2) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `don_gia`
--

LOCK TABLES `don_gia` WRITE;
/*!40000 ALTER TABLE `don_gia` DISABLE KEYS */;
/*!40000 ALTER TABLE `don_gia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `flyway_schema_history`
--

DROP TABLE IF EXISTS `flyway_schema_history`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `flyway_schema_history` (
  `installed_rank` int NOT NULL,
  `version` varchar(50) DEFAULT NULL,
  `description` varchar(200) NOT NULL,
  `type` varchar(20) NOT NULL,
  `script` varchar(1000) NOT NULL,
  `checksum` int DEFAULT NULL,
  `installed_by` varchar(100) NOT NULL,
  `installed_on` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `execution_time` int NOT NULL,
  `success` tinyint(1) NOT NULL,
  PRIMARY KEY (`installed_rank`),
  KEY `flyway_schema_history_s_idx` (`success`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `flyway_schema_history`
--

LOCK TABLES `flyway_schema_history` WRITE;
/*!40000 ALTER TABLE `flyway_schema_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `flyway_schema_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hoa_don`
--

DROP TABLE IF EXISTS `hoa_don`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hoa_don` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `invoice_number` varchar(255) DEFAULT NULL,
  `tenant_id` bigint DEFAULT NULL,
  `period_year` int NOT NULL,
  `period_month` int NOT NULL,
  `issue_date` date DEFAULT NULL,
  `due_date` date DEFAULT NULL,
  `total_amount` decimal(38,2) DEFAULT NULL,
  `penalty_amount` decimal(38,2) DEFAULT NULL,
  `status` varchar(32) DEFAULT 'UNPAID',
  `created_by` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `invoice_number` (`invoice_number`),
  KEY `idx_hoa_don_tenant` (`tenant_id`),
  KEY `idx_hoa_don_status_due` (`status`,`due_date`),
  KEY `idx_hoa_don_issue_date` (`issue_date`)
) ENGINE=InnoDB AUTO_INCREMENT=78 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hoa_don`
--

LOCK TABLES `hoa_don` WRITE;
/*!40000 ALTER TABLE `hoa_don` DISABLE KEYS */;
/*!40000 ALTER TABLE `hoa_don` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hoa_don_dien`
--

DROP TABLE IF EXISTS `hoa_don_dien`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hoa_don_dien` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `hoa_don_id` bigint NOT NULL,
  `meter_id` varchar(255) DEFAULT NULL,
  `start_reading` bigint DEFAULT NULL,
  `end_reading` bigint DEFAULT NULL,
  `consumption` bigint DEFAULT NULL,
  `unit_price` decimal(38,2) DEFAULT NULL,
  `amount` decimal(38,2) DEFAULT NULL,
  `period_year` int NOT NULL,
  `period_month` int NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_hd_dien_hoa_don` (`hoa_don_id`),
  CONSTRAINT `FKc39g8d2rcqvt93a8kgaxy81ls` FOREIGN KEY (`hoa_don_id`) REFERENCES `hoa_don` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hoa_don_dien`
--

LOCK TABLES `hoa_don_dien` WRITE;
/*!40000 ALTER TABLE `hoa_don_dien` DISABLE KEYS */;
/*!40000 ALTER TABLE `hoa_don_dien` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hoa_don_nuoc`
--

DROP TABLE IF EXISTS `hoa_don_nuoc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hoa_don_nuoc` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `hoa_don_id` bigint NOT NULL,
  `meter_id` varchar(255) DEFAULT NULL,
  `start_reading` bigint DEFAULT NULL,
  `end_reading` bigint DEFAULT NULL,
  `consumption` bigint DEFAULT NULL,
  `unit_price` decimal(38,2) DEFAULT NULL,
  `amount` decimal(38,2) DEFAULT NULL,
  `period_year` int NOT NULL,
  `period_month` int NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_hd_nuoc_hoa_don` (`hoa_don_id`),
  CONSTRAINT `FKj2bo1t3bfx9lvsjmbtm98wutm` FOREIGN KEY (`hoa_don_id`) REFERENCES `hoa_don` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=64 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hoa_don_nuoc`
--

LOCK TABLES `hoa_don_nuoc` WRITE;
/*!40000 ALTER TABLE `hoa_don_nuoc` DISABLE KEYS */;
INSERT INTO `hoa_don_nuoc` VALUES (27,41,'FIXED_WATER',0,0,1,100000.00,100000.00,2026,4,'2026-04-21 23:58:09'),(49,63,'FIXED_WATER',0,0,1,100000.00,50000.00,2026,4,'2026-04-22 05:39:27'),(50,64,'FIXED_WATER',0,0,1,100000.00,50000.00,2026,4,'2026-04-22 05:39:27'),(51,65,'FIXED_WATER',0,0,1,100000.00,100000.00,2026,4,'2026-04-22 05:39:27'),(61,75,'FIXED_WATER',0,0,1,100000.00,50000.00,2026,5,'2026-05-06 04:32:24'),(62,76,'FIXED_WATER',0,0,1,100000.00,50000.00,2026,5,'2026-05-06 04:32:24'),(63,77,'FIXED_WATER',0,0,1,100000.00,100000.00,2026,5,'2026-05-06 04:32:24');
/*!40000 ALTER TABLE `hoa_don_nuoc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hop_dong`
--

DROP TABLE IF EXISTS `hop_dong`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hop_dong` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `ma_hop_dong` varchar(255) NOT NULL,
  `phong_id` bigint DEFAULT NULL,
  `nguoi_id` bigint DEFAULT NULL,
  `ngay_bat_dau` date DEFAULT NULL,
  `ngay_ket_thuc` date DEFAULT NULL,
  `tien_coc` decimal(38,2) DEFAULT NULL,
  `tien_thue` decimal(38,2) DEFAULT NULL,
  `tien_dien_per_unit` decimal(38,2) DEFAULT NULL,
  `tien_nuoc_fixed` decimal(38,2) DEFAULT NULL,
  `trang_thai` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ma_hop_dong` (`ma_hop_dong`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hop_dong`
--

LOCK TABLES `hop_dong` WRITE;
/*!40000 ALTER TABLE `hop_dong` DISABLE KEYS */;
/*!40000 ALTER TABLE `hop_dong` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `khach_vaora`
--

DROP TABLE IF EXISTS `khach_vaora`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `khach_vaora` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `ten` varchar(255) DEFAULT NULL,
  `cmnd` varchar(255) DEFAULT NULL,
  `sdt` varchar(255) DEFAULT NULL,
  `phong_id` bigint DEFAULT NULL,
  `loai` varchar(255) DEFAULT NULL,
  `timestamp` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `ghi_chu` text,
  `approval_status` varchar(255) DEFAULT NULL,
  `image_paths` text,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `khach_vaora`
--

LOCK TABLES `khach_vaora` WRITE;
/*!40000 ALTER TABLE `khach_vaora` DISABLE KEYS */;
INSERT INTO `khach_vaora` VALUES (2,'Nghi','12312341234','12312312',1,'IN','2026-04-22 01:31:12','','APPROVED',NULL),(3,'Tu Oanh','2131231512','4123123',1,'IN','2026-04-22 05:43:03','','APPROVED',NULL),(4,'Dat','097567564',NULL,1,'IN','2026-05-06 04:58:49','','REJECTED',NULL),(5,'Minu','07530054112',NULL,1,'IN','2026-05-06 08:29:07','','APPROVED',NULL),(6,'Linh Nguyen','0154984','0513248',1,'IN','2026-05-06 08:47:37','','APPROVED',NULL);
/*!40000 ALTER TABLE `khach_vaora` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nguoithue`
--

DROP TABLE IF EXISTS `nguoithue`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nguoithue` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `cccd` varchar(255) DEFAULT NULL,
  `ho_ten` varchar(255) DEFAULT NULL,
  `ngay_sinh` date DEFAULT NULL,
  `gioi_tinh` varchar(255) DEFAULT NULL,
  `dia_chi` varchar(255) DEFAULT NULL,
  `sdt` varchar(255) DEFAULT NULL,
  `tai_khoan_id` bigint DEFAULT NULL,
  `sophong` bigint DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `que_quan` varchar(255) DEFAULT NULL,
  `nghe_nghiep` varchar(255) DEFAULT NULL,
  `thong_tin_lien_lac` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `tai_khoan_id` (`tai_khoan_id`),
  CONSTRAINT `fk_nguoithue_taikhoan` FOREIGN KEY (`tai_khoan_id`) REFERENCES `tai_khoan` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nguoithue`
--

LOCK TABLES `nguoithue` WRITE;
/*!40000 ALTER TABLE `nguoithue` DISABLE KEYS */;
/*!40000 ALTER TABLE `nguoithue` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `phieu_thu`
--

DROP TABLE IF EXISTS `phieu_thu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `phieu_thu` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `hoa_don_id` bigint NOT NULL,
  `amount_paid` decimal(38,2) DEFAULT NULL,
  `payment_method` varchar(32) NOT NULL,
  `payment_date` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `transaction_id` varchar(255) DEFAULT NULL,
  `created_by` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_phieu_thu_txn` (`transaction_id`),
  KEY `idx_phieu_thu_hoa_don` (`hoa_don_id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `phieu_thu`
--

LOCK TABLES `phieu_thu` WRITE;
/*!40000 ALTER TABLE `phieu_thu` DISABLE KEYS */;
/*!40000 ALTER TABLE `phieu_thu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `phong`
--

DROP TABLE IF EXISTS `phong`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `phong` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `ma_phong` varchar(255) NOT NULL,
  `toa_nha_id` bigint DEFAULT NULL,
  `khu_id` bigint DEFAULT NULL,
  `loai_phong_id` bigint DEFAULT NULL,
  `so_giuong` int DEFAULT NULL,
  `trang_thai` varchar(255) DEFAULT NULL,
  `mo_ta` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ma_phong` (`ma_phong`),
  KEY `fk_phong_toa_nha` (`toa_nha_id`),
  CONSTRAINT `fk_phong_toa_nha` FOREIGN KEY (`toa_nha_id`) REFERENCES `toa_nha` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `phong`
--

LOCK TABLES `phong` WRITE;
/*!40000 ALTER TABLE `phong` DISABLE KEYS */;
INSERT INTO `phong` VALUES (1,'A101',1,NULL,NULL,2,'DA_THUE','Phong A101','2026-04-21 13:35:06','2026-04-21 13:35:06'),(2,'A102',1,NULL,NULL,2,'DA_THUE','Phong A102','2026-04-21 13:35:06','2026-04-21 13:35:06'),(3,'A103',1,NULL,NULL,2,'TRONG','Phong A103','2026-04-21 13:35:06','2026-04-21 13:35:06'),(4,'B201',2,NULL,NULL,1,'DA_THUE','Phong B201','2026-04-21 13:35:06','2026-04-21 13:35:06'),(6,'A104',1,NULL,NULL,1,'TRONG','Phong con trong','2026-04-21 21:35:32','2026-04-21 21:36:04'),(8,'C101',6,NULL,NULL,1,'TRONG','','2026-05-06 08:19:36','2026-05-06 08:19:36');
/*!40000 ALTER TABLE `phong` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `qr_payment_log`
--

DROP TABLE IF EXISTS `qr_payment_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `qr_payment_log` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `hoa_don_id` bigint NOT NULL,
  `qr_code` varchar(255) DEFAULT NULL,
  `qr_payload` tinytext,
  `expected_amount` decimal(38,2) DEFAULT NULL,
  `status` varchar(32) DEFAULT 'CREATED',
  `generated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `expires_at` timestamp NULL DEFAULT NULL,
  `paid_at` timestamp NULL DEFAULT NULL,
  `transaction_id` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_qr_code` (`qr_code`),
  KEY `idx_qr_status_expires` (`status`,`expires_at`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `qr_payment_log`
--

LOCK TABLES `qr_payment_log` WRITE;
/*!40000 ALTER TABLE `qr_payment_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `qr_payment_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `su_co`
--

DROP TABLE IF EXISTS `su_co`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `su_co` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `loai` varchar(255) DEFAULT NULL,
  `mo_ta` text,
  `toa_nha_id` bigint DEFAULT NULL,
  `phong_id` bigint DEFAULT NULL,
  `reported_by` bigint DEFAULT NULL,
  `reported_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `resolved_at` timestamp NULL DEFAULT NULL,
  `status` varchar(255) DEFAULT NULL,
  `image_paths` text,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `su_co`
--

LOCK TABLES `su_co` WRITE;
/*!40000 ALTER TABLE `su_co` DISABLE KEYS */;
INSERT INTO `su_co` VALUES (5,'DIEN','',1,2,3,'2026-05-06 04:35:01','2026-05-06 04:39:05','RESOLVED',NULL),(7,'DIEN','',1,1,1,'2026-05-06 05:27:32','2026-05-06 05:36:00','RESOLVED','/uploads/incidents/7/a5d156f2-acde-46b0-9460-a9e02fd6ed53_34.jpg'),(8,'DIEN','Hu may lanh',1,1,1,'2026-05-06 08:28:40','2026-05-06 08:29:57','RESOLVED','/uploads/incidents/8/a6002c3f-6e32-428c-b2b6-bfca964fe232_34.jpg'),(9,'DIEN','Hu may lanh can sua',1,1,2,'2026-05-06 08:47:04','2026-05-06 08:48:41','RESOLVED','/uploads/incidents/9/bc96debb-9581-45ed-84d8-7b2b084d4e7d_34.jpg');
/*!40000 ALTER TABLE `su_co` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tai_khoan`
--

DROP TABLE IF EXISTS `tai_khoan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tai_khoan` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `username` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `email` varchar(255) DEFAULT NULL,
  `full_name` varchar(255) DEFAULT NULL,
  `active` tinyint(1) DEFAULT '1',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tai_khoan`
--

LOCK TABLES `tai_khoan` WRITE;
/*!40000 ALTER TABLE `tai_khoan` DISABLE KEYS */;
/*!40000 ALTER TABLE `tai_khoan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tai_khoan_vai_tro`
--

DROP TABLE IF EXISTS `tai_khoan_vai_tro`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tai_khoan_vai_tro` (
  `tai_khoan_id` bigint NOT NULL,
  `vai_tro_id` bigint NOT NULL,
  PRIMARY KEY (`tai_khoan_id`,`vai_tro_id`),
  KEY `fk_tkv_vaitro` (`vai_tro_id`),
  CONSTRAINT `fk_tkv_taikhoan` FOREIGN KEY (`tai_khoan_id`) REFERENCES `tai_khoan` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_tkv_vaitro` FOREIGN KEY (`vai_tro_id`) REFERENCES `vai_tro` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tai_khoan_vai_tro`
--

LOCK TABLES `tai_khoan_vai_tro` WRITE;
/*!40000 ALTER TABLE `tai_khoan_vai_tro` DISABLE KEYS */;
INSERT INTO `tai_khoan_vai_tro` VALUES (1,1),(2,1),(3,2),(4,2),(5,2),(6,2),(7,2),(8,2),(1,4),(2,4);
/*!40000 ALTER TABLE `tai_khoan_vai_tro` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `toa_nha`
--

DROP TABLE IF EXISTS `toa_nha`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `toa_nha` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `ten` varchar(255) NOT NULL,
  `dia_chi` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  `chu_tro_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `fk_toa_nha_chu_tro` (`chu_tro_id`),
  CONSTRAINT `fk_toa_nha_chu_tro` FOREIGN KEY (`chu_tro_id`) REFERENCES `chu_tro` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `toa_nha`
--

LOCK TABLES `toa_nha` WRITE;
/*!40000 ALTER TABLE `toa_nha` DISABLE KEYS */;
INSERT INTO `toa_nha` VALUES (1,'Toa A','Dia chi Toa A','2026-04-21 20:35:06','2026-04-21 20:35:06',1),(2,'Toa B','Dia chi Toa B','2026-04-21 20:35:06','2026-04-21 20:35:06',2),(4,'Toa B','Vo Van Tan','2026-04-22 12:36:31','2026-04-22 12:36:31',1),(6,'Toa C','Vo Van Tan','2026-05-06 15:18:56','2026-05-06 15:18:56',1);
/*!40000 ALTER TABLE `toa_nha` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vai_tro`
--

DROP TABLE IF EXISTS `vai_tro`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vai_tro` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vai_tro`
--

LOCK TABLES `vai_tro` WRITE;
/*!40000 ALTER TABLE `vai_tro` DISABLE KEYS */;
INSERT INTO `vai_tro` VALUES (1,'ROLE_ADMIN'),(3,'ROLE_BILLING_STAFF'),(4,'ROLE_LANDLORD'),(2,'ROLE_USER');
/*!40000 ALTER TABLE `vai_tro` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'trohub_db'
--

--
-- Dumping routines for database 'trohub_db'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-06 23:14:16
